body, html {
    margin: 0 auto auto auto;
    padding: 0;
    height: 100%;
    background-color: rgb(54, 69, 79); /* Set a background color */
    color: white;
}

.container {
    overflow: auto;
    display: flex;
    height: 100vh;
}

.left-side {
    width: 18%;
    background-color: rgba(252, 197, 147, 0.822);
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the start (top) of the container */
    align-items: center;
    padding: 20px 0; /* Adjust padding as needed */

}

.right-side {
    flex: 1;
    background-color: rgb(54, 69, 79);
    display: flex;
    overflow-y: auto;
    padding: 15px;
}

.main-links {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items at the start (top) of the container */
    align-items: center;
    padding: inherit;

}
.main-links a {
    text-decoration: none;
    color: black;
    margin: 10% 0;
    font-family:sans-serif;
    font-weight: 600;
    font-size: large;
}

.social-links {
    position: absolute;
    left: 3%;
    right: 7%;
    bottom: 1%; /* Adjust as needed */
}

.social-links a {
    text-decoration: none;
    justify-content: center;
    margin: 1%;
}


.profile-image {
    width: 80%; /* Adjust size as needed */
    border-radius: 5%; /* To create a circular outline */
    overflow: hidden; /* Hides any image overflow */
    margin: 10px 0; /* Adjust margin as necessary */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects {
    background-color: rgb(54, 69, 79);
    font-family:sans-serif;
    padding-right: 35px;
}

.projects h1 {
    /* margin: 40px 300px 0 350px; */
    margin: 5% 20% 0 30%;
    color: white;
    text-decoration: underline;
}

.projects ul a {
    color: rgba(252, 197, 147, 0.822);
}

.projects ul li {
    font-size: normal;
    color:white;
}

.teaching {
    background-color: rgb(54, 69, 79);
    font-family:sans-serif;
}

.teaching h1 {
    /* margin: 40px 300px 0 350px; */
    margin: 5% 20% 0 30%;
    color: white;
    text-decoration: underline;
}

.teaching h3 {
    color: rgba(252, 197, 147, 0.822);
}

.teaching ul li {
    margin-left: 2px;
    /* font-size: normal; */
    color:white;
}

.teaching li a {
    color: rgba(252, 197, 147, 0.822);
}

.research {
    background-color: rgb(54, 69, 79);
    font-family:sans-serif;
    padding-left: 10px;
    padding-right: 20px;
}

.research h1 {
    /* margin: 40px 300px 0 350px; */
    margin: 5% 20% 0 30%;
    color: white;
    text-decoration: underline;
}

.research h3 {
    color: rgba(252, 197, 147, 0.822);
}

.research ul {
    text-align: justify; /* Justify the text within the ul */
}

.research ul li {
    margin-left: 2px;
    font-size: normal;
    color:white;
    padding: 5px 0;
}

.research ol {
    text-align: justify; /* Justify the text within the ol */
    padding-left: 20px; /* Indent ordered list items */
}

.research ol li {
    padding: 2px 0; /* Add padding for better readability */
}

.research ol a {
    color: rgba(252, 197, 147, 0.822);
}

.home {
    background-color: rgb(54, 69, 79);
    font-family:sans-serif;
    padding-left: 10px;
    padding-right: 20px;
}

.home h1 {
    margin: 5% 30% 0 30%;
    text-align: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.home h3 {
    text-align: justify; /* Justify the text within the ul */
    color: rgba(252, 197, 147, 0.822);
}

.home ul li{
    text-align: justify; /* Justify the text within the ul */
    list-style: none;
    color: white;
}

.home ul a {
    color: rgba(252, 197, 147, 0.822);
    text-decoration: none;
}

.home ol li{
    margin: 0 0 0 -40px;
    text-align:justify; /* Justify the text within the ul */
    color: white;
}

.interests {
    background-color: rgb(54, 69, 79);
    font-family:sans-serif;
    padding-left: 5px;
    padding-right: 20px;
}

.interests h1 {
    /* margin: 40px 300px 0 400px; */
    margin: 5% 20% 0 40%;
    color: white;
    text-decoration: none;
}

.interests h3 {
    text-align: justify; /* Justify the text within the ul */
    color: rgba(252, 197, 147, 0.822);
}

.interests ul {
    text-align: justify; /* Justify the text within the ul */
    list-style: none;
    color: white;
}

.interests ol li{
    margin: 0 0 0 -22px;
    text-align:justify; /* Justify the text within the ul */
    color: white;
}

.interests ol a {
    color: rgba(252, 197, 147, 0.822);
}

.interests img {
    padding: 5px;
}

.tips {
    background-color: rgb(54, 69, 79);
    font-family:sans-serif;
    padding-left: 5px;
    padding-right: 20px;
}

.tips h1 {
    /* margin: 5% 20% 0 40%; */
    color: white;
    text-decoration: none;
}

.tips h3 {
    text-align: justify; /* Justify the text within the ul */
    color: rgba(252, 197, 147, 0.822);
}