body, html {
    margin: auto auto auto auto;
    padding: 0;
    height: 100%;
    height: -webkit-fill-available;
    background-color: rgb(54, 69, 79); /* Set a background color */
    color: white;
    /* overflow: hidden; Prevents scrolling of the body */
}

.container {
    overflow: auto;
    display: flex;
    height: -webkit-fill-available;
}

.left-side {
    position: fixed; /* Fixes the left side content */
    width: 18%;
    height: 100vh; /* Ensures it takes the full height of the viewport */
    height: -webkit-fill-available;
    background-color: rgba(252, 197, 147, 0.822);
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.right-side {
    margin-left: 18%; /* Pushes the right side content to the right */
    width: 82%;
    background-color: rgb(54, 69, 79);
    overflow-y: auto; /* Allows vertical scrolling */
    padding: 15px;
    box-sizing: border-box;
}

.main-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: inherit;
}

.main-links a {
    text-decoration: none;
    color: black;
    margin: 10% 0;
    font-family:system-ui;
    font-size: large;
    font-weight: normal; /* Default to normal */
}

.main-links a.active {
    font-weight: bold;
}

.social-links {
    margin-top: auto; /* Pushes social links to the bottom */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    margin: 0 8px; /* Adds space between social links */
}

.profile-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 0;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-side {
        position: relative;
        width: 100%;
        height: auto;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        width: 50px;
        height: 50px;
    }

    .main-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .main-links a {
        margin: 5px 10px;
        font-size: medium;
    }

    .right-side {
        margin-left: 0;
        width: 100%;
        padding-right: 20px;
        overflow-y: auto;
    }
}



/* Additional styles for different sections */
.projects, .teaching, .research, .home, .interests, .tips {
    background-color: rgb(54, 69, 79);
    font-family:system-ui;
    /* padding: 10px 20px; */
    padding: auto auto;
}

.projects h2, .teaching h2, .research h2, .home h2, .interests h2, .tips h2 {
    color: white;
    text-decoration: underline;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hides overflowed text */
    text-overflow: ellipsis; /* Adds ellipsis if the text overflows */
    text-align: center; /* Center-aligns the text */
}

.projects h3, .teaching h3, .research h3, .home h3, .interests h3 {
    text-align: justify;
    margin-left: -2%;
    color: rgba(252, 197, 147, 0.822);
    text-decoration: underline;
}

.home ul li, .research ul li, .projects ul li, .teaching ul li, .interests ul li, .tips ul li {
    text-align: justify;
    list-style: none;
    color: white;
}

.home ol li, .research ol li, .teaching ol li, .interests ol li, .tips ol li {
    margin-left: -20px;
    text-align: justify;
    color: white;
}

.home a, .research a, .teaching a, .projects a, .interests a, .tips a {
    color: rgba(252, 197, 147, 0.822);
    text-decoration: none;
}

.research ol, .teaching ol, .interests ol, .tips ol {
    padding-left: 20px;
}

.research ol li, .teaching ol li, .interests ol li, .tips ol li {
    padding: 2px 0;
}

.tips p {
    text-align: justify;
}

.tips h3 {
    color:rgba(252, 197, 147, 0.822)
}

table {
    margin: justify;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: justify;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
